@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import "tailwindcss";

@theme {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
 body {
  color: white;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
 }

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}